.logo{
  padding-top: 70px;
}

.contact{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#jssor{
	padding-left: 75px;
}

#contact_override{
	background-image: url(dotted-map.png);
	background-size: cover;
	height: 500px;
	width: 1100px;
}

#contact_write{
	font-weight: bolder;
}

#slide{
	background-color: #222;
	background-size: cover;
}
#team{
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#sponsors{
	margin-top: 0px;
	padding-top: 0px;	
	padding-bottom: 0px;
	margin-bottom: 0px;
}

